<!-- Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">

<!-- stylesheet -->
<link rel="stylesheet" href="{{ "/assets/css/custom.css?v=" | append: site.github.build_revision | relative_url }}">

<!-- font -->
<link href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" rel="stylesheet">

<!-- Custom OGP -->
<meta property="og:image" content="{{site.image | absolute_url}}">