img.logo {
    max-width: 50%;
}

.fa-square-x-twitter {
    color: #000000;
}

.fa-github {
    color: #000000;
}

.fa-youtube {
    color: #FF0000;
}

.fa-amazon {
    color: #000000;
}

.fa-tiktok {
    color: #000000;
}

.fa-instagram {
    color: #000000;
}
